{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>PaymentPlan - Contraseña Cambiada Correctamente</title>
    
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href={% static "theme/img/favicon.png" %} type="image/x-icon">

    <link rel="stylesheet" href={% static 'account/css/fonts.css' %}>
    <link rel="stylesheet" href={% static 'account/fontawesome/css/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'account/css/normalize.min.css' %}>
    <link rel="stylesheet" href={% static 'account/css/style.css' %}>
    <link rel="stylesheet" href={% static 'account/css/messages.css' %}>
    <script src={% static 'account/js/prefixfree.min.js' %}></script>
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">

        <p class="title title-message">Su contraseña ha sido cambiada.</p>

        <footer>
            <strong>Copyright &copy; <span id="copy-year"></span>.</strong>
            <a href="#">PaymentPlan</a>. Todos los derechos reservados.
            <div>
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>
    <!-- partial -->
    <script src={% static 'account/js/jquery.min.js' %}></script>
  <script>
    $("#copy-year").html(new Date().getFullYear())
  </script>
</body>

</html>