{% extends '../core-base.html' %}
{% load static %}

{% block title %}Payment Plan{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block body %}
<div class="col-12">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title">Eliminar Payment Plan</h3>
        </div>
        <form role="form" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <p>¿Estás seguro de eliminar "{{ object }}"?</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <a href={% url 'payment_plan_list' %} class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock body %}

{% block javascripts %}
<script>
    $(() => {
        $('#administrar').addClass('active')
        $('#payment_plan').addClass('active')
    })
</script>
{% endblock javascripts %}