{% extends 'core-base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block header %}Dashboard{% endblock header %}

{% block body %}
    <div class="col-md-12">
        <div class="callout callout-success">
            <h5>Bienvenid@</h5>
            <p>Es todo un placer tenerle de vuelta.</p>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    <script>
        $(function () {
            $('#dashboard').addClass('active');
        });
    </script>
{% endblock javascript %}